.column {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.name {
    font-size: 1rem;
    color: #333;
}

.price {
    font-size: 1rem;
    color: #666;
}
