.appLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    padding-top: 60px;
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 768px) {
    .mainContent {
        padding-left: 20px;
        padding-right: 20px;
    }
}
